:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: 'Oxygen Mono', monospace;
  --sans: 'Oxygen', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  font-family: var(--sans);
  color: var(--white);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
  text-decoration: none;
}

a:hover {
  color: var(--hotmag);
}

#contact {
  padding: 4rem 1rem;
  width: 100%;
  max-width: 800px;
  padding: 4rem 1rem;
}

#contact h2 {
  font-family: var(--mono);
  color: var(--aqua);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

#contact h4 {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 3rem;
}

.social-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-button {
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2d2e32;
  border: 2px solid #2d2e32;
  transition: all 0.45s;
}

.social-button:hover {
  transform: rotate(360deg);
  transform-origin: center center;
  background-color: #ffff;
  color: #2d2e32;
}

.social-button:hover .btn-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg)
    brightness(103%) contrast(103%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.button {
  display: inline-block;
  background-color: var(--plum);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.button:hover {
  background-color: var(--hotmag);
  color: var(--black);
}