:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: 'Oxygen Mono', monospace;
  --sans: 'Oxygen', sans-serif;
}

html {
  box-sizing: border-box;
  margin-left: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  font-family: var(--sans);
  color: var(--white);
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta)
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

#intro {
  text-align: center;
}

#intro p {
  font-size: 1.25rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1.5rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}